.container {
    text-align: center;
}
.welcomeMss{
    text-align: center;
}
p {
    font-size: large;
}
.timer {
    text-align: left;
}
.btnGroup1{
    align-items: center;
}
.btnGroup2{
    align-items: center;
}
button{
    width: 150px;
    margin: 10px;
}
hr{
    border: 1px solid #dddddd;
    width: 700px;
}